body{
font: 15px/1.5 'Questrial,''Ubuntu', Arial, sans-serif;
padding: 0
margin: 0;
background-color: #f5f5f5
}


#container{
width: 100%;
margin: auto;
overflow: hidden;
}

header #logo{
background: #ffffff;
color: #000000;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
padding-left: 40px;
min-height: 40px;
border-bottom: #4037a8 1px solid;
}


#logo nav{
  float: right;
  padding-bottom: 0;
}



#logo ul{
margin: 0;
padding: 0;
}

#logo li{
float:left;
display: inline;
padding-right: 0px;
padding-left: 0px;
padding-bottom: 0;
padding-top: 10px;

}


#logo a{
padding-top: 20px;
color: #4037a8;
font-weight: bold;
text-decoration-line: none;
font-size: 15px;
position: relative;

}

#logo a:hover{
  color:#ff1493;
  border-bottom: #000000 5px solid;
  padding-bottom: 15px;
}

html,
body {
  height: 100%;
}

/*body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 85px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  padding-top: 10px;
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
