/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

body{
font: 15px/1.5 'Questrial,''Ubuntu', Arial, sans-serif;
padding: 0
margin: 0;
background-color: #ffffff
}


#container{
width: 100%;
margin: auto;
overflow: hidden;
}

header #logo{
background: #ffffff;
color: #000000;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
padding-left: 20px;
min-height: 40px;
border-bottom: #4037a8 1px solid;
}


#logo nav{
  float: right;
  padding-bottom: 0;
}



#logo ul{
margin: 0;
padding: 0;
}

#logo li{
float:left;
display: inline;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 0;
padding-top: 10px;

}


#logo a{
padding-top: 20px;
color: #4037a8;
font-weight: bold;
text-decoration-line: none;
font-size: 15px;
position: relative;

}

#logo a:hover{
  color:#ff1493;
  border-bottom: #000000 5px solid;
  padding-bottom: 15px;
}

header #prods{
background: #ffffff;
color: #000000;
padding-top: 10px;
padding-bottom: 35px;
padding-right: 20px;
padding-left: 20px;
min-height: 40px;

}
#prods nav{
  float: left;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
}



#prods ul{
margin: 0;
padding: 0;
}

#prods li{
float:left;
display: inline;
padding-right:20px;
padding-left: 20px;
padding-bottom: 10px;

}

#prods a{
padding-top: 0px;
padding-bottom: 9px;
color: #000000;
text-decoration-line: none;
font-size: 15px;
position: relative;

}
#prods a:hover{
  color:#ff1493;
  border-bottom: #000000 5px solid;
}
