body{
font: 15px/1.5 'Questrial,''Ubuntu', Arial, sans-serif;
padding: 0
margin: 0;
background-color: #ffffff
}


#container{
width: 100%;
margin: auto;
overflow: hidden;
}

header #logo{
background: #ffffff;
color: #000000;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
padding-left: 20px;
min-height: 40px;
border-bottom: #4037a8 1px solid;
}


#logo nav{
  float: right;
  padding-bottom: 0;
}



#logo ul{
margin: 0;
padding: 0;
}

#logo li{
float:left;
display: inline;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 0;
padding-top: 10px;

}


#logo a{
padding-top: 20px;
color: #4037a8;
font-weight: bold;
text-decoration-line: none;
font-size: 15px;
position: relative;

}

#logo a:hover{
  color:#ff1493;
  padding-bottom: 15px;
}

header #prods{
background: #ffffff;
color: #000000;
padding-top: 10px;
padding-bottom: 35px;
padding-right: 20px;
padding-left: 20px;
min-height: 30px;
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

}
#prods nav{
  float: left;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
}



#prods ul{
margin: 0;
padding: 0;
}

#prods li{
float:left;
display: inline;
padding-right:20px;
padding-left: 20px;
padding-bottom: 10px;

}

#prods a{
padding-top: 0px;
padding-bottom: 9px;
color: #000000;
text-decoration-line: none;
font-size: 15px;
position: relative;

}
#prods a:hover{
  color:#ff1493;
  border-bottom: #000000 5px solid;
}


footer{

 background-color: #072e71;
 color: #ffffff;
 text-align: center;
 height: 120px;

}

.formcenter{
align-content: center;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  background: #ffffff;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;

}
@media (min-width: 768px) {
 .jumbotron {

    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);

  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

main a:hover{
-webkit-transform: scale(1.05,1.05);
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
