body{
font: 15px/1.5 'Questrial,''Ubuntu', Arial, sans-serif;
padding: 0
margin: 0;
background-color: #ffffff
}


#container{
width: 100%;
margin: auto;
overflow: hidden;
}

header #logo{
background: #ffffff;
color: #000000;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 20px;
padding-left: 20px;
min-height: 40px;
border-bottom: #4037a8 1px solid;
position: relative;
z-index: 10000000;
}


#logo nav{
  float: right;
  padding-bottom: 0;
  z-index: 100;
}



#logo ul{
margin: 0;
padding: 0;
z-index: 100;
}

#logo li{
float:left;
display: inline;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 0;
padding-top: 10px;
z-index: 100;

}


#logo a{
padding-top: 20px;
color: #4037a8;
font-weight: bold;
text-decoration-line: none;
font-size: 15px;
position: relative;
z-index: 100;

}

#logo a:hover{
  color:#ff1493;
  padding-bottom: 15px;
}

header #prods{
background: #ffffff;
color: #000000;
padding-top: 10px;
padding-bottom: 35px;
padding-right: 20px;
padding-left: 20px;
min-height: 40px;
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);

}
#prods nav{
  float: left;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
}



#prods ul{
margin: 0;
padding: 0;
}

#prods li{
float:left;
display: inline;
padding-right:20px;
padding-left: 20px;
padding-bottom: 10px;

}

#prods a{
padding-top: 0px;
padding-bottom: 9px;
color: #000000;
text-decoration-line: none;
font-size: 15px;
position: relative;

}
#prods a:hover{
  color:#ff1493;
  border-bottom: #000000 5px solid;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0;
  padding-bottom: 0;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {

  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

footer{

 background-color: #072e71;
 color: #ffffff;
 text-align: center;
 height: 120px;

}
.dropdown-menu{
z-index: 100;
margin: 0;

}
.dropdown-item{
  font-size: 06px;
  padding: 0;
}


.navbar {
  margin-bottom: 20px;
  z-index: 1px;
}
